@import "./extend/extend";

@import "./secciones/main";
*{
    margin: 0%;
    padding: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    
    font-style: oblique;
    font-weight: bold;
    font-size: 70px;
       
}

i{
    font-size: 300%;
    
}

.nav-link{
    color: black;
    text-decoration: none;
}



.nft{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    ;
}